@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Shrikhand&display=swap");
@import url("./header.css");
@import url("./footer.css");
@import url("./_@keyframes.css");
/******************************VARIABLE*****************************/
/******************************MIXIN*****************************/
h1,
h2,
h3 {
  font-family: "Shrikhand", cursive;
}

/* .banieres__div , .banieres {
  height: 400px;
}

.banieres__div__img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.plat{
  background-color: #e71c96;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin: -20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.palette_text{
    
  margin: 0 20px;
}

.menus {
  display: flex;
  justify-content: space-around;
}
.menus .entree {
  margin-top: 20px;
  width: 33%;
}
.menus .entree__title {
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.menus .entree__title .trait {
  margin: 6px 0 20px 0;
  border-color: #99E2D0;
  width: 48px;
  height: 5px;
  background-color: #99E2D0;
}
.menus .entree__entrecard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 13px -2px rgba(33, 32, 32, 0.2);
  overflow: hidden;
}
.menus .entree__entrecard .content {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  background-color: #FF79DA;
  max-width: 100%;
}
.menus .entree__entrecard .content .details {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
  background-color: #9356DC;
}
.menus .entree__entrecard .content .details .ellipsis {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menus .entree__entrecard__div {
  padding: 10px;
}
.menus .entree__entrecard__div .ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menus .entree__entrecard__check {
  padding-top: 25px;
  height: 80px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  color: #99E2D0;
  text-align: center;
  width: 20%;
  margin-right: -89px;
  font-size: 20px;
  transition: margin-right 1s;
}
.menus .entree__entrecard__check--background {
  padding: 2px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.menus .entree__entrecard .check .contain .spane {
  transform: rotate(1turn);
  transition: transform 2s;
}
.menus .entree__entrecard:hover {
  cursor: pointer;
}
.menus .entree__entrecard:hover .check {
  margin-right: 0;
}
.menus .entree__entrecard:hover .check .contain .spane {
  animation: rotation 0.75s forwards;
}
.menus .entree__slideUp1 {
  animation: slideUp 1s forwards;
}
.menus .entree__slideUp2 {
  animation: slideUp 2s forwards;
}
.menus .entree__slideUp3 {
  animation: slideUp 3s forwards;
}

.commander {
  display: flex;
  justify-content: center;
}
.commander__buton {
  cursor: pointer;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40%;
  border-radius: 40px;
  max-width: 200px;
  text-align: center;
  margin: 50px 0 50px 0;
  color: #FFFFFF;
  box-shadow: 3px 3px 13px -2px rgba(33, 32, 32, 0.2);
}  */

  main {
    background-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  main .banieres__div {
    height: 400px;
    overflow: hidden;
  }
  main .banieres__div .banieres__div__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  main .plat {
    margin-top: -30px;
    font-size: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ebf0f6;
    transition: background-color 1s 2s;
  }
  main .plat .palette_text {
    margin: 20px 20px;
    /* padding: 2px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .plat .palette_text .palette_heart .coeur-contenant {
    /* display: inline-block;
    position: relative;
    font-size: 37px;
    overflow: hidden;
    cursor: pointer;
    color: #a9a9a9;  */

    display: inline-block;
    position: relative;
    font-size: 50px;
    overflow: hidden;
    cursor: pointer;
    padding: 0 0 50px 0;
  }
  main .plat .palette_text .palette_heart .coeur-colore {
    /* position: absolute;
    top: 60px;
    left: 15px;
    font-size: 0px;
    transition: top 3s, font-size 3s, left 3s;
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    transition:  1s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    position: absolute;
            top: 44.5px;
            left: 25px;
            font-size: 0px;
            transition: top 2s, font-size 2s, left 2s;
            background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
            /* background: linear-gradient(to bottom, yellow 0%,red 100%); */
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
  }
  main .plat .palette_text .palette_heart .coeur-contenant:hover {
    color: #FF79DA;
    overflow: hidden;
    /* counter-reset: #FF79DA; */
  }
  main .plat .palette_text .palette_heart .coeur-contenant:hover .coeur-colore {
    /* top: 2px;
    font-size: 32px;
    left: 3px; */

    top: 4px;
    font-size: 44px;
    left: 3px;

  }

  main .plat .menus{
         /* background-color: #FF79DA; */
         display: flex;
         flex-direction: row;
         /* flex-wrap: wrap; */
  }

  main .entree {
    padding: 0 20px 0 20px;
    width: 100%;
    /* background-color: #514dc0; */
  }

  /* main .entree .menus__item {
    display: flex;
    position: relative;
    margin: 10px 0 10px 0;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
    /* opacity: 0;
    transform: translateY(-50px);
    animation-name: fadeInUp;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;} */
  main .entree__title {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    /* background-color: #e47cca; */
  }
  main .entree__title .trait {
    margin: 6px 0 20px 0;
    border-color: #99E2D0;
    width: 48px;
    height: 5px;
    background-color: #99E2D0;
  }
  main .entree__entrecard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 20px 20px;
    border-radius: 15px;
    /* background-color: #FFFFFF; */
    /* background-color: #e47cca; */
    box-shadow: 3px 3px 13px -2px rgba(33, 32, 32, 0.2);
    overflow: hidden;
  }




  main .entree .menus__item {
    width: 100%;
    display: flex;
    /* position: relative; */
    background-color: #e47cca;
    margin: 0px 0px 20px 0px;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    /* opacity: 0; */
    /* transform: translateY(-50px); */
    /* animation-name: fadeInUp; */
    /* animation-duration: 0.6s; */
    /* animation-fill-mode: forwards; */

}
.menus__item:hover {
  display: flex;
  cursor: pointer;
  }
  .menus__item:hover .menus__contents {
    width: 85%; 
    }

    .menus__item:hover .menus__icons {
      display: flex;
      width: 15%;
      background-color: #7ce4d3;
      height: 100%;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1.7rem;
      font-weight: bold;
      transform: translateX(0);
      }

      .menus__icons {
        width: 20%;
        height: 100%;
        display: flex;
        transition: width 0.5s ease-out, transform 0.5s ease-out;
        position: absolute;
        background-color: #7ce4d3;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        right: 0;
        transform: translateX(100%);
        }
        .menus__contents {
          /* margin: 0px 10px 0px 10px; */
          /* border-radius: 12px 12px 12px 12px; */
          background-color: white;
          padding: 13px 0;
          width: 100%;
          transition: width 0.5s ease-out; 
          }
          .menus__contents__title {
          margin-top: 0px;
          margin-bottom: 10px;
          padding: 0px 20px 0px 15px;
          font-size: 1.3rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 76%;
          }
          .menus__contents__details {
          display: flex;
          justify-content: space-between;
          padding: 0px 20px 0px 15px;
          font-size: 1.1rem;
          }
          .menus__contents__details__subtitle {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 85%;
          }


















  main .entree__entrecard .containeur{
    background-color: #FF79DA;
    max-width: 100%;
  }
  main .entree__entrecard .containeur .ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    /* font-size: 50px; */
  }
  main .entree__entrecard .content {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #4dc098;
  }
  main .entree__entrecard .content .details {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    max-width: 90%;
    background-color: #514dc0;
  }
  main .entree__entrecard .content .details .ellipsis {
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
  }
  main .entree__entrecard__div {
    padding: 10px;
  }
  main .entree__entrecard__div .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
  main .entree__entrecard__check {
    padding-top: 25px;
    height: 80px;
    border-radius: 0px 15px 15px 0px;
    background-color: #99E2D0;
    color: #99E2D0;
    text-align: center;
    width: 20%;
    margin-right: -89px;
    font-size: 20px;
    transition: margin-right 1s;
  }
  main .entree__entrecard__check--background {
    padding: 2px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  main .entree__entrecard .check .contain .spane {
    transform: rotate(1turn);
    transition: transform 2s;
  }
  main .menus .menus__item .menus__icons .menus__check .spane {
    transform: rotate(1turn);
    transition: transform 2s;
  }
  main .entree__entrecard:hover  {
    cursor: pointer; 
  }
  main .entree__entrecard:hover .containeur{
    background-color: #9356DC; 
  }

  main .entree__entrecard:hover .check {
    margin-right: 0;
  }



  main .menus__item:hover .menus__icons .menus__check .spane {
    animation: rotation 1.5s forwards;
  }
  main .entree__entrecard:hover .check .contain .spane {
    animation: rotation 0.75s forwards;
  }



  main .entree__slideUp1 {
    animation: slideUp 1s forwards;
  }
  main .entree__slideUp2 {
    animation: slideUp 2s forwards;
  }
  main .entree__slideUp3 {
    animation: slideUp 3s forwards;
  }
  main .commander {
    display: flex;
    justify-content: center;
  }
  main .commander__buton {
    cursor: pointer;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40%;
    border-radius: 40px;
    max-width: 200px;
    text-align: center;
    margin: 30px 0 50px 0;
    color: #FFFFFF;
    box-shadow: 3px 3px 13px -2px rgba(33, 32, 32, 0.2);
  }
  .banieres__div {
    height: 250px;
    overflow: hidden;
  }
  .banieres__div .banieres__div__img {
    width: 100%;
    height: 400px;
  }
  .plat {
    margin-top: -30px;
    font-size: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ebf0f6;
    transition: background-color 1s 2s;
  }
  .plat .palette_text {
    margin: 40px 40px;
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  .plat .palette_text .palette_heart .coeur-contenant {
    display: inline-block;
    height: 28px;
    position: relative;
    font-size: 2rem;
    overflow: hidden;
    cursor: pointer;
    color: #a9a9a9;
  }
  .plat .palette_text .palette_heart .coeur-colore {
    position: absolute;
    top: 60px;
    left: 10px;
    font-size: 0px;
    transition: top 3s, font-size 3s, left 3s;
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .plat .palette_text .palette_heart .coeur-contenant:hover {
    color: #FF79DA;
    /* counter-reset: #FF79DA; */
  }
  .plat .palette_text .palette_heart .coeur-contenant:hover .coeur-colore {
    top: 0px;
    font-size: 2rem;
    left: 0px;
  }



  @media only screen and (max-width: 768px){
     
    .plat .palette_text{
         font-size: 20px;
    }

    .menus{
      display: flex;
      flex-wrap: wrap;
    }

    main .entree__entrecard__check {
      /* padding-top: 25px;
      height: 80px;
      border-radius: 0px 15px 15px 0px;
      background-color: #99E2D0;
      color: #99E2D0;
      text-align: center;
      width: 20%;
      margin-right: -140px;
      font-size: 20px; */
      transition: margin-right 1s;
    }
  }




@keyframes slideUp {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes heatColor {
  0% {
    color: #FF79DA;
  }
  100% {
    color: #FF79DA;
  }
}
@keyframes apparition {
  0% {
    display: block;
    background-color: #ebf0f6;
  }
  100% {
    display: block;
    background-color: #9356DC;
  }
}

/*# sourceMappingURL=palette_gout.css.map */
