@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Shrikhand&display=swap");
@import url("./header.css");
@import url("./footer.css");
@import url("./_@keyframes.css");
/******************************VARIABLE*****************************/
/******************************MIXIN*****************************/
h1,
h2,
h3 {
  font-family: "Shrikhand", cursive;
}

main {
  background-color: #FFFFFF;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
main .banieres__div {
  height: 250px;
  overflow: hidden;
}
main .banieres__div .banieres__div__img {
  width: 100%;
  height: 400px;
}
main .plat {
  margin-top: -30px;
  font-size: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ebf0f6;
  transition: background-color 1s 2s;
}
main .plat .palette_text {
  margin: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .plat .palette_text .palette_heart .coeur-contenant {
  display: inline-block;
  position: relative;
  font-size: 25px;
  overflow: hidden;
  cursor: pointer;
  color: #a9a9a9;
}
main .plat .palette_text .palette_heart .coeur-colore {
  position: absolute;
  top: 60px;
  left: 30px;
  font-size: 0px;
  transition: top 0.5s, font-size 0.5s, left 0.5s;
  background: linear-gradient(to left, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .plat .palette_text .palette_heart .coeur-contenant:hover {
  padding-right: 0.25px;
  color: #e251ea;
  counter-reset: #FF79DA;
}
main .plat .palette_text .palette_heart .coeur-contenant:hover .coeur-colore {
  top: 1.5px;
  font-size: 23px;
  left: 2px;
}
main .entree {
  margin-top: 20px;
}
main .entree__title {
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
main .entree__title .trait {
  margin: 6px 0 20px 0;
  border-color: #99E2D0;
  width: 48px;
  height: 5px;
  background-color: #99E2D0;
}
main .entree__entrecard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 13px -2px rgba(33, 32, 32, 0.2);
}
main .entree__entrecard span {
  padding: 10px;
}
main .entree__entrecard__div {
  padding: 10px;
}
main .entree__entrecard__div--font {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
main .entree__entrecard__check {
  padding-top: 25px;
  height: 80px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  color: #99E2D0;
  text-align: center;
  width: 20%;
  display: none;
  transition: display 10s;
}
main .entree__entrecard__check--background {
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 2px;
}
main .entree__entrecard .check .contain .spane {
  transform: rotate(0turn);
  transition: transform 2s;
}
main .entree__entrecard:hover {
  cursor: pointer;
}
main .entree__entrecard:hover .check {
  display: block;
}
main .entree__entrecard:hover .check .contain .spane {
  animation: rotation 0.5s forwards;
}
main .entree__slideUp1 {
  animation: slideUp 1s forwards;
}
main .entree__slideUp2 {
  animation: slideUp 2s forwards;
}
main .entree__slideUp3 {
  animation: slideUp 3s forwards;
}
main .commander {
  display: flex;
  justify-content: center;
}
main .commander__buton {
  cursor: pointer;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40%;
  border-radius: 40px;
  max-width: 200px;
  text-align: center;
  margin: 50px 0 50px 0;
  color: #FFFFFF;
}

@keyframes slideUp {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes heatColor {
  0% {
    color: #FF79DA;
  }
  100% {
    color: #FF79DA;
  }
}
@keyframes apparition {
  0% {
    display: block;
    background-color: #ebf0f6;
  }
  100% {
    display: block;
    background-color: #9356DC;
  }
}

/*# sourceMappingURL=palette_gout.css.map */
