@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Shrikhand&display=swap');
@import url("./header.css");
@import url("./footer.css");
@import url("./../css/helpers/_$Variable.css");

/******************************VARIABLE*****************************/
$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;
$couleur_blanche:#FFFFFF;
$couleur_grises:#F9F9F9;
$couleur_grise:#F2F2F2;
$cd-txt: #6300a0;
$cd-box: #fff;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;

.laoder{
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        border-radius: 50px;
        border: 6px solid rgba(255, 255, 255, 0.4); 
      }

      .container3{
        background-color: #0d0d0d;
        height: 500px;
        color: $couleur_blanche;
        line-height: 500px;
        padding-left:45%;
        animation: display 7s 0s forwards;
      }
      .laoder-circle{
        border-radius: 50px;
        border: 5px solid transparent;
        border-top-color: #FFF;
        border-bottom-color: #FFF; 
        animation: spin 4s linear 0s forwards;
    }
      
      .laoder-circle::after{
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        border-radius: 50px;
        border: 10px solid transparent;
        border-top-color: #FFF;
        border-bottom-color: #FFF;
        opacity: 0.6;
        animation: spinreverse 3s linear 0s forwards;

     }
     .laoder-circle::before{
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        border-radius: 50px;
        border: 10px solid transparent;
        border-top-color: #FFF;
        border-bottom-color: #FFF;
        opacity: 0.6;
        animation: spinreverse 3s linear 0s forwards;

     }

     @keyframes spin{
       0%{
        transform: rotate(0deg);
        opacity: 1;
}
       100%{transform: rotate(360deg);opacity: 0;}}

     @keyframes display{
       0%{display: block;opacity: 1;}
       100%{display: none;opacity: 0;}
     }

     @keyframes spinreverse{
        0%{transform: rotate(0deg);
        opacity: 1;}
       100%{transform: rotate(360deg);
        opacity: 0;}
     }

      .form {
        &__group {
            & input {
            border: 2px solid $cd-box;
            border-radius: 100rem;
            color: $cd-txt;
            font-family: 'Montserrat', sans-serif;
            font-size: 2.5rem;
            outline:none;
            padding: .5rem 1.5rem;
            width: 100%;
            transition: background-color 500ms;
            &:focus {
                border: 2px solid $cd-txt;
                }
                &:not(:focus):invalid {
                        background: $cd-danger;
                        border: 2px solid $cd-danger;
                        color: $cd-txt--invalid;
                    }
            }
        }
      }
/******************************MIXIN*****************************/
@mixin butom-color{
        background-image: linear-gradient(to top,#9356DC,#FF79DA);
}


*,
::before,
::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

a{
        text-decoration: none;
}

.title{
        font-family: 'Shrikhand', cursive;
}

.restaurant__img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 300px;
} 

body{
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
}

.localisation{
        background-color: $couleur_grise;
        justify-content: center;
        display: flex;
        padding: 15px 0;
        font-size:20px ;
        font-weight: bold;
        &__icon{
           font-size: 20px;
        }
        &__ville{
                text-align: center;
                margin-left: 15px;
        }
}

.nouveau{
        background-color: $couleur_tertiaire   
}

.baniere{
        background-color: $couleur_grises;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 250px;
        &__title{
                text-align: center;
                font-size: 30px;
                margin: 30px 0;
        }
        &__paragraphe{
                text-align: center;
        }
        &__explorer{
                @include butom-color();
                display: flex;
                align-items: center;
                justify-content: center;
                height:40px;
                width: 40%;
                border-radius: 40px;
                max-width: 200px;
                padding: 20px;
                text-align: center;
                margin: 30px 0 50px 0;
                font-size: 14px;
                background-color: $couleur_secondaire;
                color: $couleur_blanche;
                cursor:  b ;
        }
}
.fonctionnement{
        // border: 2px solid $couleur_primaire;
        background-color: $couleur_blanche;
        padding:  0px 20px 0px 20px;
        margin: 50px 0px 70px 0px;
        &__title{
                // border: 2px solid $couleur_primaire;
                padding-bottom: 10px;
                font-size: 25px;
        }
        &__chosissez{
                background-color:$couleur_grise;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 10px 20px 10px;
                height: 50px;
                border-radius: 20px;
                position: relative;
                &__texte{
                        // flex: 0,5;
                        // background-color: $couleur_primaire;
                        text-align: right;
                        // color: #dc56cc;
                        margin-left: 100px;
                }
                &__icon{
                        text-align: center;
                        // margin-left: -20px;
                        // background-color: $couleur_tertiaire;  
                }
                &__numero{
                        position: absolute;
                        background-color: $couleur_primaire;
                        width: 20px;
                        text-align: center;
                        border-radius: 50%;
                        color: $couleur_blanche;
                        padding: 3px;
                        left: -10px;
                }
        }
}

.restaurant{
        padding:  0px 20px 40px 20px;
        background-color:$couleur_grise;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__title{
                padding:  0px 0px 25px 0px;
                // background-color: $couleur_primaire;
                font-size: 25px; 
        }
        .restaurant__br{
                border-radius: 15px;
                background-color:$couleur_secondaire;
                margin-bottom: 25px;
                .restaurant__br__liens{
                        &__nouveau{
                                background-color: $couleur_tertiaire;
                                display: inline-block;
                                padding: 6px 12px ;
                                border-radius: 3px;
                                color: rgb(45, 132, 45);
                                font-weight: 600;
                        }
                }
                
        }
        .palette_text{
                margin-top: -4px;
                padding: 20px 15px 20px 15px;
                background-color: $couleur_blanche;
                border-radius: 0px 0px 15px 15px;
                display: flex;
                justify-content: space-between;
                .palette_heart{
                        font-size: 30px;
                }
        }
        
}
.restaurant__br__liens{
        position: relative;
        .restaurant__br__liens__nouveau{
                position: absolute;
                top: 15px;
                right: 15px;
        }

        .restaurant__br__liens__palette__img{
                margin: 0;
                .restaurant__br__liens__palette__img--img{
                        border-radius: 15px 15px 0 0;
                }   
        }
}