@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Shrikhand&display=swap");
@import url("./header.css");
@import url("./footer.css");
@import url("./../css/helpers/_$Variable.css");
/******************************VARIABLE*****************************/
.container3 {

  position: relative;
  background-color: #0d0d0d;
  opacity: 0.9;
  height: 100vh;
  /* inset: 0px; */
  z-index: 1;
  color: #FFFFFF;
  line-height: 500px;
  padding-left: 45%;
  animation: display 5s 1s forwards;
  animation: moveHeight 5s 1s forwards;
}

.laoder {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}

.laoder-circle {
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  animation: spin 4s linear 0s forwards;
}

.laoder-circle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
  border: 10px solid transparent;
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  opacity: 0.6;
  animation: spinreverse 3s linear 0s forwards;
}

.laoder-circle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
  border: 10px solid transparent;
  border-top-color: #FFF;
  border-bottom-color: #FFF;
  opacity: 0.6;
  animation: spinreverse 3s linear 0s forwards;
}
.cache{
  opacity: 0;
  transition: opacity 6s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes display {
  0% {
    display: block;
    opacity: 1;
  }
  50% {
    display: none;
    opacity: 0.5;
  }
  100% {
    display: none;
    opacity: 0;
    /* position: relative; */
    z-index: 0;
  }
}

@keyframes moveHeight{
  0%{
    height: 100vh;
  }
  100% {
      height: 0;
  }
}

@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

/******************************MIXIN*****************************/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title {
  font-family: "Shrikhand", cursive;
}

.restaurant__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.index{
  z-index: 1;
}
.localisation {
  box-shadow: inset 0 0 3px #000;
  background-color: #ebf0f6;
  justify-content: center;
  display: flex;
  padding: 15px 0;
  font-size: 25px;
  font-weight: bold;
}
.localisation__icon {
  font-size: 25px;
}
.localisation__ville {
  text-align: center;
  margin-left: 15px;
}

/* .nouveau {
  background-color: #99E2D0;
} */

.baniere {
  background-color: #F9F9F9;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300x;
}
.baniere__title {
  text-align: center;
  font-size: 100%;
  margin: 30px 0;
}
.baniere__paragraphe {
  text-align: center;
  font-size: 30px;
}
.baniere__explorer {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60%;
  border-radius: 40px;
  max-width: 250px;
  padding: 20px;
  text-align: center;
  margin: 30px 0 50px 0;
  font-size: 20px;
  background-color: #FF79DA;
  color: #FFFFFF;
}

.baniere .baniere__explorer:hover{
       cursor: pointer;
       background-color: #99E2D0;
}

.fonctionnement {
  background-color: #FFFFFF;
  padding: 0px 20px 0px 20px;
  margin: 50px 0px 50px 0px;
}
.fonctionnement__title {
  padding-bottom: 10px;
  font-size: 25px;
}
.fonctionnement__item{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fonctionnement__chosissez {
  background-color: #ebf0f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 20px 10px;
  font-size: 20px;
  height: 70px;
  font-weight: bold;
  border-radius: 20px;
  position: relative;
  width: 30%;
  box-shadow: 3px 3px 13px -2px rgba(33, 32, 32, 0.2);
}
.fonctionnement__chosissez__texte {
  text-align: center;
  margin-left: 30px;
}
.fonctionnement__chosissez__icon {
  text-align: center;
  margin-left: -50px;
}
.fonctionnement__chosissez__numero {
  position: absolute;
  background-color: #9356DC;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  color: #FFFFFF;
  padding: 3px;
  left: -10px;
}
.fonctionnement__chosissez:hover {
  cursor: pointer;
  background-color: #F9F9F9;
}
.fonctionnement__chosissez:hover .color_icon {
  color: #9356DC;
}

.restaurant {
  padding: 20px 40px 20px;
  background-color: #ebf0f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurant__title {
  padding: 0px 0px 25px 0px;
  font-size: 25px;
}

.restaurant__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* height: 500px; */
}
.restaurant .restaurant__br {
  transition: transform 1s ease-in-out;
  border-radius: 15px;
  /* height: 100px; */
  /* background-color: #FF79DA; */
  margin-bottom: 25px;
  /* border: 5px solid #9356DC; */
  width: 49%;
}
.restaurant .restaurant__br__liens{
  position: relative;
  display: block;
}
.restaurant .restaurant__br .restaurant__br__liens__nouveau {
  position: absolute;
  background-color: #99E2D0; 
  display: inline-block;
  padding: 6px 12px;
  border-radius: 3px;
  color: rgb(45, 132, 45);
  font-weight: 600;

  /* right:80%; */
  /* top: 0;
  bottom: 0;
  left: 0; */
  z-index: 2;
}
.restaurant .restaurant__br:hover {
  transform: scale(1.08);
}
.restaurant .palette_text {
  margin-top: -4px;
  padding: 20px 10px 20px 10px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: space-between;
}
.restaurant .palette_text .font{
  font-weight: bold;
  font-size: 20px;
}
.restaurant .palette_text .palette_heart {
  font-size: 30px;
}
.restaurant .palette_text:nth-child(1) {
  font-weight: bold;
}
.restaurant .palette_text .palette_heart .coeur-contenant {
  display: inline-block;
  position: relative;
  font-size: 25px;
  overflow: hidden;
  cursor: pointer;
  color: #a9a9a9;
  /* padding: 1px; */
}
.restaurant .palette_text .palette_heart .coeur-colore {
  position: absolute;
  top: 60px;
  left: 30px;
  font-size: 0px;
  transition: top 3s, font-size 3s, left 3s;
  background: linear-gradient(to left, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant .palette_text .palette_heart .coeur-contenant:hover {
  padding-right: 0.25px;
  color: #e251ea;
  /* counter-reset: #FF79DA; */
}
.restaurant .palette_text .palette_heart .coeur-contenant:hover .coeur-colore {
    top: 0px;
    font-size: 28px;
    left: 0px;
}

.restaurant__br__liens {
  position: relative;
}
.restaurant__br__liens .restaurant__br__liens__nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
}
.restaurant__br__liens .restaurant__br__liens__palette__img {
  margin: 0;
}
.restaurant__br__liens .restaurant__br__liens__palette__img .restaurant__br__liens__palette__img--img {
  border-radius: 15px 15px 0 0;
}

@media only screen and (max-width: 768px){
  .baniere__title {
    font-size: 45px;
  }

  .baniere__paragraphe {
    font-size: 25px;
  }
.baniere__explorer {
  /* width: 40%; */
  font-size: 20px;
}
  .restaurant__img {
    height: 250px;
  }

  .fonctionnement__item{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .fonctionnement__chosissez {
    width: 100%;
  }

  .restaurant__items{
    flex-direction: column;
  }

  .restaurant .restaurant__br {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
